/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f6;
}
#d{
    height: 110px;
    width: 100%;
    background-color: orangered;
    color: white;
    display: flex;
    position: fixed;
    top: 0px;
    font-size: 1.8cm;
    justify-content: center;
    align-items: center;


}

.signup-container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
}

.signup-container h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

form input, form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

form select {
    background-color: #fff;
    cursor: pointer;
}

.terms {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-bottom: 15px;
    text-align: left;
}

.terms input {
    margin-right: 8px;
}

.terms a {
    color: #4CAF50;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 32px;
    text-decoration: none;
   
}

form button:hover {
    background-color: #45a049;
    
}
a{
    text-decoration: none;
}

