*{
    background-color: rgb(64, 64, 64);
    color: aliceblue;
}
.one{
    height: full;
    width: full;
    border: 5px solid rgba(114, 204, 25,0.3);
    font-size: x-large;
    margin: 25px;
}
#para{
    height: full;
    width: fit-content;
    border: 5px solid salmon;
    margin: 25px;
    padding: 10px;
    font-size: larger;
    font:200px;


}
#two {
    text-align: center;
    height: 50px;
    width: 250px;
    border: 5px solid rgba(255, 2, 2,0.3);
    margin-left: 325px;
    padding-top: 20px;
}